.highlight {
    background-color: yellow;
}
html {
    position: relative;
    min-height: 100%;
  }
  body {
    /* Margin bottom by footer height */
    margin-bottom: 20px;
  }
  footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 20px;
    line-height: 20px; /* Vertically center the text there */
  }
  .signals_cont {
    height: 100vh;
  }