{% extends 'layout.html' %}
{% block maincontent%}
<script src='{{url_for("static", filename = "js/trips.js")}}'></script>
    <div class = 'container  my-sm-3 ml-sm-5'>
        <h2>Info page</h2>
        </div>
    </div>
    <ul class="nav nav-tabs ml-sm-5" style = 'width: 80%' id="myTab" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" id="home-tab" data-toggle="tab" href="#trip" role="tab" aria-controls="home" aria-selected="true">Trips & Tickets</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="profile-tab" data-toggle="tab" href="#accomodation" role="tab" aria-controls="profile" aria-selected="false">Accomodation</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="notes-tab" data-toggle="tab" href="#task" role="tab" aria-controls="contact" aria-selected="false">Tasks</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="contact-tab" data-toggle="tab" href="#notes" role="tab" aria-controls="contact" aria-selected="false">Notes</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="contact-tab" data-toggle="tab" href="#stats" role="tab" aria-controls="contact" aria-selected="false">Statistic</a>
              </li>
          </ul>
          
          <!--Routes Tab-->

          <div class="tab-content" id="myTabContent">

            <div class="tab-pane fade show active ml-sm-5 my-sm-2" id="trip" role="tabpanel" aria-labelledby="home-tab">
                    <div class="d-flex align-items-center ml-sm-5">
                                                    
                    <input type = 'text' class = "mt-sm-2 mr-sm-3" name='search' id='searchInput'>
                    <button type="submit" class="btn btn-info btn-sm mr-sm-5 mt-sm-2" style = 'padding: 10;', id = 'searchBtn' value='search'>Search</button>
                    <button type="submit" class="btn btn-info btn-sm mr-sm-3 mt-sm-2" style = 'padding: 10;', id = 'routeBtn' value='add'>Add Route</button>        

                </div>
                    <hr class = 'w-75 float-left'>

                <div class = 'col-12'>    
                {% for route in routes %}
            <div class = 'parent-route'>
                <div class = 'container ml-sm-2 float-left w-50' >
                
                    <div class = 'row justify-content-start my-sm-3' >   
                        <div class = 'col-4  route-div'>From: <strong>{{route[0]}}, {{route[6]}}</strong></div>
                        <div class = 'col-4 route-div'>To: <strong>{{route[1]}}, {{route[7]}}</strong></div>
                        <div class = 'col-4 route-div'>Distance: <strong>{{route[9]}} km</strong></div>
                    </div>
                
                    <div class = 'row justify-content-start my-sm-3'>
                        <div class = 'col-4 route-div'>Depature: <strong>{{route[2]|datetime('DT')}}</strong></div>
                        <div class = 'col-4 route-div'>Arrival: <strong>{{route[3]|datetime('DT')}}</strong></div>
                    </div>
                    <div class = 'row justify-content-start my-sm-3'>
                        <div class = 'col-4 route-div'>Road time: <strong>{{route[8]}}</strong></div>
                        <div class = 'col-4 route-div'>Fare: <strong>{{route[4]}}</strong> <strong>{{route[5]}}</strong></div>
                    </div>  
                    <hr>
                    </div>
                    
                    <div class = 'container ml-sm-2 float-left w-25 border-left'>
                        <form action = '/trips/' method = 'POST' >
                            <button type="submit"  name = 'delete' class = 'btn btn-secondary' value = '{{route[10]}}'>Del</button>
                        </form>  
                    </div>
            </div>
                    
                

                    {% endfor %}
                </div>
            </div>


            <!--ACCOMODATION TAB-->

            <div class="tab-pane fade ml-sm-5 my-sm-2" id="accomodation" role="tabpanel" aria-labelledby="accomodation-tab">

            <div class="d-flex align-items-center ml-sm-5">
                                                    
                <input type = 'text' class = "mt-sm-2 mr-sm-3" name='search' id='searchInput'>
                <button type="submit" class="btn btn-info btn-sm mr-sm-5 mt-sm-2" style = 'padding: 10;', id = 'searchHouseBtn' value='search'>Search</button>
                
                <button type="submit" class="btn btn-info btn-sm mr-sm-3 mt-sm-2" style = 'padding: 10;', id = 'housingBtn' value='addHousing'>Add Housing</button>
    

            </div>
                <hr class = 'w-75 float-left'>
  
                {% for house in mysession.housing %}
                <div class = 'parent-house row-12'>
                    <div class = 'container ml-sm-2 float-left w-50' >
                    
                        <div class = 'row justify-content-start my-sm-3' >   
                            <div class = 'col-4  house-div'>Country: <strong>{{house[0]}}</strong></div>
                            <div class = 'col-4 house-div'>Address: <strong>{{house[1]}}</strong></div>
                            <div class = 'col-4 house-div'>Time period: <strong>{{house[6]}} days</strong></div>
                            
                        </div>
                    
                        <div class = 'row justify-content-start my-sm-3'>
                            <div class = 'col-4 house-div'>From: <strong>{{house[2]|datetime('D')}}</strong></div>
                            <div class = 'col-4 house-div'>Untill: <strong>{{house[3]|datetime('D')}}</strong></div>
                            <div class = 'col-4 house-div'>Time left: <strong>{{(house[3] - TODAY).days|datetime('delta')}}</strong></div>
                        </div>
                        <div class = 'row justify-content-start my-sm-3'>
                            
                            <div class = 'col-4 house-div'>Fare: <strong>{{house[4]|round}}</strong> <strong>{{house[5]}}</strong></div>
                            <div class = 'col-4 house-div'>Fare in rubles: <strong>{{house[7]}} RUB</strong></div>
                            <div class = 'col-4 house-div'>Current fare: <strong>{{house[4]|rate(house[5])}} RUB</strong></div>
                        </div>  
                        <hr>
                        </div>
                        
                        <div class = 'container ml-sm-2 float-left w-25 border-left'>
                            <form action = '/trips/' method = 'POST' >
                                <button type="submit"  name = 'delete_housing' class = 'btn btn-secondary' value = '{{house[2]}}'>Del</button>
                            </form>  
                        </div>
                </div>
                        
                    
    
                        {% endfor %}
            </div>

            <!--TASKS TAB-->

            <div class="tab-pane fade ml-sm-5 " id="task" role="tabpanel" aria-labelledby="tasks-tab">Task</div>

            <!--NOTES TAB-->
            
            <div class="tab-pane fade ml-sm-5 " id="notes" role="tabpanel" aria-labelledby="notes-tab">
                <div class = 'container ml-sm-2 float-left w-75'>
                <div class = 'row'>
                    <div class = 'col'>
                    <h4 class='my-sm-2'>Latest rates</h4>
                    {%if location%}
                    {% if location.get_current_rate() == 'LIMIT REACHED'%}
                    <div class = 'row justify-content-start my-sm-3' >   
                        <div class = 'col-4'><strong>API LIMIT REACHED</strong></div>
                     </div>
                     {%else%}
                {% for value in location.get_current_rate() %}
                    {% set label, rate = value %}
                    
                    <div class = 'row justify-content-start my-sm-3' >   
                            <div class = 'col-4'>From: <strong>{{label.split('_')[0]}}</strong></div>
                            <div class = 'col-4'>To: <strong>{{label.split('_')[1]}}</strong></div>
                            <div class = 'col-4'>Rate: <strong>{{rate|round}}</strong></div>
                        </div>
                    {% endfor %}
                {%endif%}
            {%endif%}
                    </div>
                    <div class = 'col'>
                        <h4 class='my-sm-2'>Current weather</h4>
                    {%if location%}
                        {% set main, description, temp, temp_feels_like, humidity, wind_speed = location.get_weather() %}
                        <div class = 'row justify-content-start my-sm-3' >   
                            <div class = 'col-5'>Weather: <strong>{{main}}</strong></div>
                            <div class = 'col-5'>Descr: <strong>{{description}}</strong></div>
                        </div>
                        <div class = 'row justify-content-start my-sm-3' >   
                            <div class = 'col-5'>Tempertaure: <strong>{{temp}}</strong> &deg;C</div>
                            <div class = 'col-5'>Feels like: <strong>{{temp_feels_like}}</strong> &deg;C</div>
                        </div>
                        <div class = 'row justify-content-start my-sm-3' >   
                            <div class = 'col-5'>Humidity: <strong>{{humidity}}</strong> %</div>
                            <div class = 'col-5'>Wind speed: <strong>{{wind_speed}}</strong> m/s</div>
                        </div>
                    {%endif%}
                    </div>
                </div>
                        <hr>
                <h4 class='mt-sm-2'>Weekly rates</h4>
                    <div id="rates_graph">
                        </div>
                        <hr>
                <h4 class='mt-sm-2'>Weather statistics</h4>
                    <div id="weather_graph">
                        </div>
            </div>
            </div>

            <!--Statistics Tab-->

            <div class="tab-pane fade ml-sm-5 " id="stats" role="tabpanel" aria-labelledby="states-tab">

            {% if statistics.status %}
            
            <div class = 'container my-sm-3 ml-sm-2'>
                    <div class = 'row justify-content-start my-sm-3'>   
                        <div class = 'col-3'>
                                Current location:<br>
                                <div  class = 'my-sm-2'><strong>{{statistics.curr_location}}</strong></div>
                            </div>
                        <div class = 'col-3'>
                                Time since arrival:<br>
                                <div  class = 'my-sm-2'>    
                            {% for el in statistics.curr_location_time %}
                            <strong>{{statistics.curr_location_time[el]}} </strong>{{el}}
                            {% endfor %}
                                </div>
                        </div>
                        <div class = 'col-2'>Total fare:<br>
                            <div  class = 'my-sm-2'><strong>{{statistics.total_fare}}</strong></div>
                        </div>    
                    </div>
                
                    <div class = 'row justify-content-start my-sm-3'>
                        <div class = 'col-3 my-sm-2'>
                                Visited countires:<br>
                                {% for country in statistics.country_time %}
                                <div  class = 'my-sm-2'><strong>{{country}} </strong></div>
                                {% endfor %}
                        </div>     

                        <div class = 'col-3 my-sm-2'>
                                Time spent:<br>
                                {% for country in statistics.country_time %}
                                <div  class = 'my-sm-2'>
                                    {% for el in statistics.country_time[country] %}
                                <strong>{{statistics.country_time[country][el]}} </strong>{{el}}
                                    {% endfor %}
                                </div>
                                {% endfor %}
                        </div>
                        
                        <div class = 'col-3 my-sm-2'>
                                Time in percents:<br>
                                {% for country in statistics.country_percent %}
                                <div  class = 'my-sm-2'><strong>{{statistics.country_percent[country]}} </strong>%</div>
                                {% endfor %}
                        </div>  
                    </div>
                        <hr>
                    </div>
                 <!--GRAPH PLOTLY-->
                    <div id="graph">
                    </div>
                {% else %}
                <div class = 'container my-sm-3 ml-sm-2'>
                        <div class = 'row justify-content-start my-sm-3'>   
                            <div class = 'col ml-sm-2'>Currently not enough data for statistical analisys</div> 
                        </div>
                </div>
                {% endif %}
            </div>

       
    <!--MODAL WINDOWS FOR ADDING TRIPS-->
    <div class="container">                   
        <!-- Modal -->
        <div class="modal fade" id="RouteModal" role="dialog">
        <div class="modal-dialog"> 
            <!-- Modal content-->
            <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Add information about your latest trip</h4>
            </div>
            <div class="modal-body">
                <!--FORM INSIDE MODAL WINDOW-->
                    <form action = '/trips/' method = 'POST' class = 'form-group'>
                        <!--Origin-->
                        <div class="container-fluid my-sm-2">
                        <div class = 'form-row justify-content-start'>
                                <div class = 'col-md-3'>
                        <label class = 'mr-sm-5 my-sm-2' for="origin">From:</label>
                                </div>
                                <div class = 'col-md-5'>
                                    <div class = 'origin'>
                        <select class="selectpicker" data-live-search="true" name = 'origin' id = 'origin'>
                        </select>
                                    </div>
                        </div>
                    </div>
                </div>

                <!--Departure-->
                <div class="container-fluid">
                        <div class="form-row">
                            <div class = 'col-md-3'>
                        <label class = 'mr-sm-5 my-sm-2' for="departure">Deaprature:</label>
                            </div>
                                <div class="col-sm-6 md-5">
                                    <div class="form-group">
                                        <div class="input-group date" id="datetimepicker_dep" data-target-input="nearest">
                                            <input type="text" class="form-control datetimepicker-input" data-target="#datetimepicker_dep"
                                            value = '{{request.form.departure}}' name = 'departure'/>
                                            <div class="input-group-append" data-target="#datetimepicker_dep" data-toggle="datetimepicker">
                                                <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                    <script type="text/javascript">
                                        $(function () {
                                            $('#datetimepicker_dep').datetimepicker({
                                                locale: 'ru'
                                            });
                                        });
                                    </script>
                                </div>
                            </div>
                
                        <!--Destination-->
            <div class="container-fluid my-sm-2">
                    <div class = 'form-row justify-content-start'>
                            <div class = 'col-md-3'>
                        <label class = 'mr-sm-5 my-sm-2' for="destination">To:</label>
                                    </div>
                                    <div class = 'col-md-5'>
                                        <div class = 'destination'>
                        <select class="selectpicker" data-live-search="true" name = 'destination' id = 'destination'>
                        </select>
                                        </div>
                        </div> 
                    </div>
                </div>
                        

            <!--Arrival-->
            <div class="container-fluid">
                    <div class="form-row">
                        <div class = 'col-md-3'>
                    <label class = 'mr-sm-5 my-sm-2' for="arrival">Arrival:</label>
                        </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <div class="input-group date" id="datetimepicker_arr" data-target-input="nearest">
                                        <input type="text" class="form-control datetimepicker-input" data-target="#datetimepicker_arr"
                                        value = '{{request.form.arrival}}' name = 'arrival'/>
                                        <div class="input-group-append" data-target="#datetimepicker_arr" data-toggle="datetimepicker">
                                            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                                <script type="text/javascript">
                                    $(function () {
                                        $('#datetimepicker_arr').datetimepicker({
                                            locale: 'ru'
                                        });
                                    });
                                </script>
                            </div>
                        </div>


                        <!--Fare-->
                        <div class="container-fluid my-sm-2">
                        <div class = 'form-row justify-content-start'>
                            <div class = 'col-md-3'>
                        <label class = 'mr-sm-5 my-sm-2' for="fare">Fare:</label>
                                </div>
                                <div class = 'col-md-6'>
                        <input type = 'text' class = 'form-control' 
                        value = '{{request.form.fare}}' name='fare'>
                                </div>
                            </div>
                        </div>

                        <!--Currency-->
                        
                        <div class="container-fluid my-sm-2">
                        <div class = 'form-row justify-content-start'>
                            <div class = 'col-md-3'>
                        <label class = 'mr-sm-5 my-sm-2' for="currency">Currency:</label>
                            </div>
                        <div class = 'col-md-5'>
                            <div class = 'currency'>
                                <select class="selectpicker" data-live-search="true" name = 'currency' id = 'currency'>
                                    {% if currencies %}
                                        {% for currency in currencies %}
                                        {% set name, sym = currency.split(",") %}
                                        <option value = '{{name}},{{sym}}' name = 'currency'>{{name}}</option>
                                        {% endfor %}
                                    {% endif %}
                                </select>
                            </div>
                        </div> 
                    </div>
                </div>


            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary">Add</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </form>    
            </div>
        </div>
        </div>
    
    </div>


     <!--MODAL WINDOWS FOR ADDING ACCOMODATION-->
     <div class="container">                   
        <!-- Modal -->
        <div class="modal fade" id="AccomodationModal" role="dialog">
        <div class="modal-dialog"> 
            <!-- Modal content-->
            <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Add information about your housing</h4>
            </div>
            <div class="modal-body">
                <!--FORM INSIDE MODAL WINDOW-->
                    <form action = '/trips/' method = 'POST' class = 'form-group'>
                        <!--Country-->
                        <div class="container-fluid my-sm-2">
                        <div class = 'form-row justify-content-start'>
                                <div class = 'col-md-3'>
                        <label class = 'mr-sm-5 my-sm-2' for="country">Country:</label>
                                </div>
                                <div class = 'col-md-5'>
                                    <div class = 'country'>
                        <select class="selectpicker" data-live-search="true" name = 'country' id = 'country'>
                        </select>
                                    </div>
                        </div>
                    </div>
                </div>

                 <!--Address-->
            <div class="container-fluid my-sm-2">
                <div class = 'form-row justify-content-start'>
                        <div class = 'col-md-3'>
                    <label class = 'mr-sm-5 my-sm-2' for="address">Address:</label>
                                </div>
                                    <div class = 'col-md-6'>
                                        <input type = 'text' class = 'form-control' 
                                        value = '{{request.form.address}}' name='address'>
                    </div> 
                </div>
            </div>

                <!--From-->
                <div class="container-fluid">
                        <div class="form-row">
                            <div class = 'col-md-3'>
                        <label class = 'mr-sm-5 my-sm-2' for="departure">From:</label>
                            </div>
                                <div class="col-sm-6 md-5">
                                    <div class="form-group">
                                        <div class="input-group date" id="datetimepicker_from" data-target-input="nearest">
                                            <input type="text" class="form-control datetimepicker-input" data-target="#datetimepicker_from"
                                            value = '{{request.form.from}}' name = 'from'/>
                                            <div class="input-group-append" data-target="#datetimepicker_from" data-toggle="datetimepicker">
                                                <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                    <script type="text/javascript">
                                        $(function () {
                                            $('#datetimepicker_from').datetimepicker({
                                                locale: 'ru',
                                                format: "DD.MM.YYYY"
                                            });
                                        });
                                    </script>
                                </div>
                            </div>
                
                       
                        

            <!--Till-->
            <div class="container-fluid">
                    <div class="form-row">
                        <div class = 'col-md-3'>
                    <label class = 'mr-sm-5 my-sm-2' for="arrival">Until:</label>
                        </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <div class="input-group date" id="datetimepicker_till" data-target-input="nearest">
                                        <input type="text" class="form-control datetimepicker-input" data-target="#datetimepicker_till"
                                        value = '{{request.form.till}}' name = 'till'/>
                                        <div class="input-group-append" data-target="#datetimepicker_till" data-toggle="datetimepicker">
                                            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                                <script type="text/javascript">
                                    $(function () {
                                        $('#datetimepicker_till').datetimepicker({
                                            locale: 'ru',
                                            format: "DD.MM.YYYY"
                                        });
                                    });
                                </script>
                            </div>
                        </div>


                        <!--Fare-->
                        <div class="container-fluid my-sm-2">
                        <div class = 'form-row justify-content-start'>
                            <div class = 'col-md-3'>
                        <label class = 'mr-sm-5 my-sm-2' for="fare">Fare:</label>
                                </div>
                                <div class = 'col-md-6'>
                        <input type = 'text' class = 'form-control' 
                        value = '{{request.form.fare}}' name='fare'>
                                </div>
                            </div>
                        </div>

                        <!--Currency-->
                        
                        <div class="container-fluid my-sm-2">
                        <div class = 'form-row justify-content-start'>
                            <div class = 'col-md-3'>
                        <label class = 'mr-sm-5 my-sm-2' for="currency">Currency:</label>
                            </div>
                        <div class = 'col-md-5'>
                            <div class = 'currency'>
                                <select class="selectpicker" data-live-search="true" name = 'currency' id = 'currency_accomodation'>
                                    {% if currencies %}
                                        {% for currency in currencies %}
                                        {% set name, sym = currency.split(",") %}
                                        <option value = '{{name}},{{sym}}' name = 'currency'>{{name}}</option>
                                        {% endfor %}
                                    {% endif %}
                                </select>
                            </div>
                        </div> 
                    </div>
                </div>


            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary" name = 'accomodation' value = 'add'>Add</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </form>    
            </div>
        </div>
        </div>
    
    </div>
                         
<script>
    function addOptions(query, object) {
        var data = query
        if (object == '#country') {
            for (var key in data) {
                var new_data = data[key];
                var country = new_data[0];
                $(object).append(`<option value="${country}"> 
                            ${country}
                                </option>`).selectpicker('refresh');
                    }   
                }
        else {
            for (var key in data) {
                var new_data = data[key];
                var city = new_data[1];
                var country = new_data[2];
                $(object).append(`<option value="${city}, ${country}"> 
                            ${city}, ${country}
                                </option>`).selectpicker('refresh');
                        }   
                    }
                }

    function addCurrency(query, object) {
        var data = query;
        for (var key in data) {
                var new_data = data[key];
                const words = new_data.split(",");
                var name = words[0]
                var sym = words[1]
                $(object).append(`<option value="${name},${sym}"> 
                            ${name}
                                </option>`).selectpicker('refresh');
                }
    }

    var graphs = {{plot | safe}};
    Plotly.plot('graph',graphs,{"title": {"text": "Duration of housing"}});

    {%if location%}
    {% if location.get_weekly_rates() == 'LIMIT REACHED'%}
        $('#graphs').append('<p>API LIMIT REACHED</p>');
    {%else%}
    var graphs = {{location.get_weekly_rates() | safe}};
    Plotly.plot('rates_graph',graphs, {});
    {% endif %}
    var weatherGraphs = {{location.graph_weather() | safe}};
    Plotly.plot('weather_graph', weatherGraphs, {});

    {%endif%}
</script>
{% endblock maincontent %}

